# Base de datos
DATABASE_URL="postgresql://neondb_owner:npg_Pls4Z0IkyURw@ep-restless-mud-ax7i0tdg-pooler.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
#postgresql://neondb_owner:npg_HRVM5a9busFP@ep-restless-mud-ax7i0tdg.c-4.us-east-2.aws.neon.tech/neondb?sslmode=require
# Auth
JWT_SECRET="secret_for_local_dev"
SESSION_SECRET="secret_for_cookie_sessions"

# APIs / Ports
PORT=3001
VITE_API_URL="http://localhost:3001/api/v1"
FRONTEND_URL="http://localhost:5173"
