# Base de datos
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/mymoney_dev?schema=public"
# Auth
JWT_SECRET="secret_for_local_dev"
SESSION_SECRET="secret_for_cookie_sessions"

# APIs / Ports
PORT=3001
VITE_API_URL="http://localhost:3001/api/v1"
